*{
    margin: 0;
    padding: 0;
  }
  .head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 63px;
      background: #3269ff;
      position: fixed;
      width: 100%;
      z-index: 100;
  }
  .navbar {
      display: flex;
      margin-right: 10px;
  }
  .logo {
      margin-left: 30px;
  }
  .logo a {
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      font-size: 20px;
  }
  .navbar a {
      display: block;
      padding: 20px 20px;
      color: rgb(255, 255, 255);
      text-decoration: none;
      text-transform: uppercase;
      font-size: 20px;
  }
  .navbar a:hover {
      background: #1985ff;
  }
  .cont{
    padding-top: 180px;
    font-size: 25px;
  }

  /* tomado de : https://www.youtube.com/watch?v=Fc9X9xs4vgQ */

  body{
    font-family: 'Arial',sans-serif;
    font-size: 16px;
    background-image: url(img/fondo.png);
      background-size: cover;
      background-repeat: no-repeat;
}

a{
    text-decoration: none;
}
.contenedor{
    width: 80%;
    max-width: 1900px;
    margin: 0px auto;
    overflow: hidden;

}
.contenedor2{
    width: 100%;
    max-width: 1000px;
    margin: 100px auto;
    overflow: hidden;

}

h2{
    display: block;
    margin-top: 250px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #555;
}

.barra__buscador{
    width: 100%;
    margin-top: 150px;
    margin-bottom: 10px;
}

.formulario{
    display: flex;
    width: 100%;
    overflow: hidden;
}

form .input__text{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #848688;
    display: block;
    font-size: 14px;
    margin-bottom: 15px;
    padding: 10px 15px;
    max-width: 30%;
    margin-right: 10px;
    outline: medium none;
}


form .input__text:focus{
    border: 1px solid #1b743c;
}
form .form-group{
    display: flex;
    width: 80%;
    flex-wrap: nowrap;
    justify-content: space-between;

}

form .form-group .input__text{
    max-width: 95%!important;
}


form .btn{
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #fff;
    display: block;
    font-size: 14px;
    background: rgb(3, 113, 163);
    margin-bottom: 15px;
    padding: 10px 20px;
    margin-right: 10px;
    outline: medium none;
    cursor: pointer;
}
.btn__nuevo{
    float: right;
    background: #3fe47b !important;
}

.btn__group{
    width: 92%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
     margin-top: 50px;
}
.btn__primary{
    background: rgb(3, 113, 163);
}
.btn__danger{
    background: #8a0505 !important;
}


/* tabla */
table{
    width: 100%;
    border-collapse: collapse;
    background: #ffffff;
}

table .head2{
    background: rgb(3, 113, 163);
}
table .head2 td{
    color: #fff;
    font-family: 'Arial',sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

table tr td{
    border:1px solid #ccc;
    padding: 7px;
    font-size: 14px;
    color: #555;
}

.btn__update{
    display: inline-block;
    font-size: 14px;
    background: #3de47a;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn__delete{
    display: inline-block;
    font-size: 14px;
    background: #f02323;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}