body {
    background-image: url("img/a.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.head {
    display: flex;
    justify-content: space-between;
    height: 63px;
    background: #3269ff;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}
.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #1985ff;
}
div.principal{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-size: 75px;
}
.secundario{
    padding-bottom: 20%;
    background-color: rgb(199, 105, 105);
    border: 1px solid black;
    width: 50%;
    float: left;
    margin-top: 10%;
    padding: 3%;
    margin-left: 13%;
    margin-right: 13%;
    font-size: 50px;
}
