body {
    background-image: url("img/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.head {
    display: flex;
    justify-content: space-between;
    height: 63px;
    background: #3269ff;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}
.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
.navbar a:hover {
    background: #1985ff;
}



div.blueTable {
    margin-top: 10%;
    position: absolute;
    background-color: #c25b5b;
    width: 65%;
    height: 300px;
    text-align: center;
    border-collapse: collapse;
  }
  .divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
    border: 1px solid #000000;
    padding: 3px 1px;
  }
  .divTable.blueTable .divTableCell {
    font-size: 13px;
  }
  .divTable.blueTable .divTableRow:nth-child(even) {
    background: #D0E4F5;
  }
  .blueTable .tableFootStyle {
    font-size: 14px;
  }
  .blueTable .tableFootStyle .links {
       text-align: right;
  }
  .blueTable .tableFootStyle .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }
  .blueTable.outerTableFooter {
    border-top: none;
  }
  .blueTable.outerTableFooter .tableFootStyle {
    padding: 3px 5px; 
  }
  /* DivTable.com */
  .divTable{ display: table; }
  .divTableRow { display: table-row; }
  .divTableHeading { display: table-header-group;}
  .divTableCell, .divTableHead { display: table-cell;}
  .divTableHeading { display: table-header-group;}
  .divTableFoot { display: table-footer-group;}