*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #3269ff;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #1985ff;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 289px;
}

.header {
    background: url(img/fondo.png) no-repeat center;

    background-size: cover;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}
.lol{
    position: relative;
	width: 100%;
position: relative;
font-size: 34px;
}
.lo{
    font-size: 64px;
    height: 120px;
    color: rgb(0, 4, 255);
}
p {
    margin-bottom: 40px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding: 0 100x;
    font-size: 34px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid hsl(0, 100%, 67%);
    color: rgb(0, 0, 0);
    text-decoration: none;
    background: #6aa6ff;
}

.btn:hover {
    background: none;
    
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}


.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 30px;
    background: #ffffff
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #6fadff;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgb(91, 187, 250);
    margin: 2rem;   
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    background: #58a6ff;
    font-size: 2rem;
    margin: 1rem 0;

}

.contact {
    padding-top: 20px;
    background: #171717;
    padding-bottom: 0;
}

a.credi{
    background-size: 10px;
    padding:50px;
}

@media (max-width: 768px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau {
        height: 100vh;
    }

    .navbar {
        display: none;
    }
   
    
}
/* SLIDER */

.c {
    min-width: 100px;
    width: 900px;
    height: 900px;
    border-radius: 12px;
    padding: 20px;
    padding-bottom: 40px;
   
  
    display: flex;
    align-items: flex-end;
    justify-content: center;
  
    position: relative;
    overflow: hidden;
    background: hsl(0 0% 90%);
  
    box-sizing: border-box;
	
  }
  
  .ci {
    position: absolute;
    top: 0;
    left: 0;
  
    width: inherit;
    height: inherit;
    transform-origin: left 50%;
  
    background: inherit;
  
    z-index: var(--z);
    transition: .3s ease-out;
  }
  
  .ci img {
    -moz-user-select: none;
    user-select: none;
    width: 1000px;
	height: 900px;
  }
  
  .ch {
    position: absolute;
    top: 70%;
    left: 4%;
    transform: translateY(-50%);
  
    font-size: 2rem;
    color: hsla(var(--h) var(--s) var(--l) / .8);
    text-shadow: 0 2px 10px hsla(var(--h) var(--s) 10% / .3);
  }
  
  input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -10;
  }
  
  label {
    width: 10%;
    height: 10px;
    margin-right: 4px;
    border-radius: 20px;
  
    background: hsla(0 0% 90% / .3);
    cursor: pointer;
  
    position: relative;
    z-index: 10;
  }
  
  label:last-child {
    margin-right: 0;
  }
  
  input:checked+label {
    background: linear-gradient(to right,
      hsla(var(--hue) 80% 70% / .7),
      hsla(calc(var(--hue) + 30) 80% 50% / .7));
  }
  
  input:not(:checked)+label+.ci {
    transform: translateX(-100%);
    opacity: 0;
  }
  
  input:checked+label+.ci~.ci {
    transform: translateX(100%);
  }
  
  input:not(:checked)+label+.ci {
    transition: 0;
  }
  
 

  
 