body {
    height: 100vh;
    font-family: "Lato", sans-serif;
    background: url(img/a.png);
    justify-content: space-around;
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    font-size: 30px;
} 

.formulario{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, +50%);
    width: 90px 100px;
    background: rgb(161, 144, 144),.0;
    border-radius:10px
    
}
.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px sold rgb(255, 213, 213,);
}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}